@import url("https://use.typekit.net/wmc0tph.css");
*{
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding : 0;
    box-sizing : border-box;
    scroll-behavior: smooth;
}
header{
    background-color: rgb(0, 131, 183);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}
.logo{
    text-decoration: none;
    color: rgb(248, 248, 248);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}
.navigation a{
    color: rgb(248, 248, 248);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 550;
    padding-left: 30px;

}
.navigation a:hover{
    color: rgb(0, 166, 255);
}
section{
    padding: 100px 200px;
}
.main{
    width: 100%;
    min-height: 100vh; /*view port*/
    display: flex;
    align-items: center;
    /* line-height: 35px; */
    background: url("b10.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.main h2{
    color : rgb(190, 212, 237);
    font-size: 1.5em;
    font-weight: 500;
}
.main h2 span{
    display: inline-block;
    color : rgb(50, 202, 236);
    font-size: 2.8em;
    font-weight: 600;
}
.main h3{
    color : rgb(132, 197, 227);
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.main-btn {
    color : white;
    background-color: rgb(26, 120, 167);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}
.main-btn:hover{
    background-color: rgb(0, 56, 99);
    transform: scale(1.1);
}
.social a{
    color : rgb(102, 161, 223);
    font-size: 1.7em;
    padding-right:30px ;
}
.title {
    display: flex;
    justify-content: center;
    color: rgb(0, 45, 99);
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
.a{
    display: flex;
    justify-content: center;
    color: rgb(102, 157, 230);
    font-size: 1.4em;
    font-weight: 500;
    margin-bottom: 30px;
}
.content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.card{
    background-color: rgb(255, 255, 255);
    width : 21.25em;
    box-shadow: 0 10px 35px rgba(59, 162, 226, 0.25) ;
    border-radius: 15px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}
.card:hover{
    background-color: rgb(176, 198, 219);
    transform: scale(1.1);
}
.icon{
    font-size: 8em;
    text-align: center;
    color: rgb(0, 38, 99);
}
.info{
    text-align: center;
}
.info h3{
    color :rgb(0, 53, 99);
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}
.card_Contact .icon{
    font-size: 4.5em;
}
.card_Contact .info h3{
    color: rgb(0, 30, 99);
}
.card_Contact .info p{
    font-size: 1em;
}
.footer {
    background-color: rgb(0, 88, 183);
    color : white;
    padding: 0.8em;
    display: flex;
    justify-content: space-between;
}
.footer_title{
    font-size: 1 em;
    font-weight: 600;
}
.footer_title span{
    color :rgb(0, 63, 99);
}